@page "/company/create"

@attribute [Authorize]
@inject NavigationManager Navigation
<EditForm Model="company" OnInvalidSubmit="@HandlevalidSubmit">

    <DataAnnotationsValidator />        <!--this is to make sure the required fields are not NULL. Blazor will generate the error for us-->
    <div class="form-group">
        <label class="control-label">Company Name</label>
        <InputText @bind-Value="company.companyName"></InputText>
        <ValidationMessage For="@(() => company.companyName)" />         <!--if the input is wrong, we will be presented with an error message, showing we need to enter the correct information.-->
    </div>

    <div class="form-group">
        <label class="control-label">Company Phone</label>
        <InputText @bind-Value="company.companyPhone"></InputText>
        <ValidationMessage For="@(() => company.companyPhone)" />
    </div>

    <div class="form-group">
        <label class="control-label">Email</label>
        <InputText @bind-Value="company.companyEmail"></InputText>
        <ValidationMessage For="@(() => company.companyEmail)" />
    </div>

    <div class="form-group">
        <label class="control-label">Address</label>
        <InputText @bind-Value="company.companyAddress"></InputText>
        <ValidationMessage For="@(() => company.companyAddress)" />
    </div>

    <button type="submit">Submit</button>

</EditForm>

@code {
    private Company company { get; set; } = new Company();
    private void HandlevalidSubmit()
    {

    }

}